$xxs: "(max-width: 361px)";
$width-xxs: 361px;
$xs: "(max-width: 480px)";
$width-xs: 480px;
$s: "(max-width: 768px)";
$width-s: 768px;
$m: "(max-width: 1024px)";
$width-m: 1024px;
$l: "(max-width: 1310px)";
$width-l: 1310px;
$xl: "(max-width: 1440px)";
$width-xl: 1440px;

$background: #fff;